.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    overflow: scroll;
}

@media (min-width: 401px) and (max-width: 600px) {
    .Burger {
        width: 350px;
        height: 400px;
    }
}

@media (min-width: 250px) and (max-width: 400px) {
    .Burger {
        width: 250px;
        height: 300px;
    }
}

@media (min-width: 601px) {
    .Burger {
        width: 450px;
        height: 500px;
    }
}